---
---

<div
    class="col-12 px-0 h-100 d-flex justify-content-center flex-column align-items-center my-4"
>
    <div class="d-flex flex-column w-100 intro-text mt-5" data-defer="hidden">
        <!-- <div
            class="intro-text-anim align-items-center justify-content-center"
            style="height: fit-content;"
        >
            <h1
                class="as-font mt-4 mb-0 text-center"
                style="animation-delay: .2s !important; font-size: 9vw;
								"
            >
                CASE STUDIES
            </h1>
        </div> -->
        <!-- <div
            class="intro-text-anim align-items-center justify-content-center text-dark"
            style="animation-delay: .3s; height: 9vh;"
        >
            <h2
                style="font-family: monospace; text-transform:none"
                class="text-dark m-0"
            >
                Some of the awards we have won
            </h2>
        </div> -->
    </div>
</div>
<!-- CASE STUDIES #################################################################################################### -->
<section
    id="StudyCaseSM"
    style="background: url('/images/case_studies/supermatch/cs_supermatch_blur_op70.png') no-repeat; background-size: cover;"
    class="main-sections d-flex text-left justify-content-start px-0 align-items-start position-relative set_study_case_interact mt-5"
>
    <div
        class="case-studies w-100 h-100 d-flex justify-content-center align-items-center"
    >
        <div
            class="case-studies-clip w-100 h-100 cs-left"
            id="clipPathSM"
            style="clip-path: circle(48vh at 10% 50%); background: url('/images/case_studies/supermatch/supermatch-alabama-solutions-banner.jpg') no-repeat;"
        >
        </div>
        <div
            data-defer="hidden"
            class="case-studies-content w-100 h-100 d-flex flex-column justify-content-center align-items-center"
        >
            <div class="d-flex flex-column col-10 text-end intro-text">
                <div
                    class="intro-text-anim align-items-center justify-content-end"
                    style="height: 7vh;"
                >
                    <span
                        style="font-family: monospace; animation-delay: 0s !important"
                        >Case·Studies·01</span
                    >
                </div>
                <div
                    class="intro-text-anim align-items-center justify-content-end"
                >
                    <h1 class="as-font" style="animation-delay: .1s !important">
                        Supermatch
                    </h1>
                </div>
                <div
                    class="intro-text-anim align-items-center justify-content-end"
                    style="height: fit-content;"
                >
                    <h2
                        class="as-font-alt mb-4"
                        style="font-family: monospace; animation-delay: .2s !important"
                    >
                        Online Sports Betting Platform
                    </h2>
                </div>
                <div
                    class="cs-footer col-12 d-flex flex-row justify-content-end mt-2"
                >
                    <button class="btn btn-primary btn_case_study_interaction"
                        >Explore This Case
                        <!-- <div class="hidden-icon">
                            <i-feather name="arrow-down" class="icon-sm"
                            ></i-feather>
                        </div> -->
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section
    style="background: url('/images/case_studies/abitab/cs_abitab_blur_op70.png') no-repeat; background-size: cover;"
    class="main-sections d-flex text-left justify-content-start px-0 align-items-start position-relative set_study_case_interact"
>
    <div
        class="case-studies w-100 h-100 d-flex justify-content-center align-items-center"
    >
        <div
            class="case-studies-clip w-100 h-100 cs-right"
            id="clipPathAB"
            style="clip-path: circle(48vh at 90% 50%); background: url('/images/case_studies/abitab/abitab-tickets-alabama-solutions_2.jpg') no-repeat;"
        >
        </div>
        <div
            data-defer="hidden"
            class="case-studies-content w-100 h-100 d-flex flex-column justify-content-center align-items-center"
        >
            <div class="d-flex flex-column col-10 text-start intro-text">
                <div
                    class="intro-text-anim align-items-center justify-content-start"
                    style="height: 7vh;"
                >
                    <span
                        style="font-family: monospace; animation-delay: 0s !important"
                        >Case·Studies·02</span
                    >
                </div>
                <div
                    class="intro-text-anim align-items-center justify-content-start"
                >
                    <h1 class="as-font" style="animation-delay: .1s !important">
                        Abitab Tickets
                    </h1>
                </div>
                <div
                    class="intro-text-anim align-items-center justify-content-start"
                    style="height: fit-content;"
                >
                    <h2
                        class="as-font-alt mb-4"
                        style="font-family: monospace; animation-delay: .2s !important"
                    >
                        Rebuilding the national's leading Event Ticketing
                        Platform
                    </h2>
                </div>
                <div
                    class="cs-footer col-12 d-flex flex-row justify-content-start mt-2"
                >
                    <button class="btn btn-primary btn_case_study_interaction"
                        >Explore This Case
                        <!-- <div class="hidden-icon">
                            <i-feather name="arrow-down" class="icon-sm"
                            ></i-feather>
                        </div> -->
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section
    style="background: url('/images/case_studies/bqm/bqm-devops-alabama-solutions_backdrop.png') no-repeat; background-size: cover;"
    class="main-sections d-flex text-left justify-content-start px-0 align-items-start position-relative set_study_case_interact"
>
    <div
        class="case-studies w-100 h-100 d-flex justify-content-center align-items-center"
    >
        <div
            class="case-studies-clip w-100 h-100 cs-left"
            id="clipPathDO"
            style="clip-path: circle(48vh at 10% 50%); background: url('/images/case_studies/bqm/bqm-devops-alabama-solutions.webp') no-repeat;"
        >
        </div>
        <div
            data-defer="hidden"
            class="case-studies-content w-100 h-100 d-flex flex-column justify-content-center align-items-center"
        >
            <div class="d-flex flex-column col-10 text-end intro-text">
                <div
                    class="intro-text-anim align-items-center justify-content-end"
                    style="height: 7vh;"
                >
                    <span
                        style="font-family: monospace; animation-delay: 0s !important"
                        >Case·Studies·03</span
                    >
                </div>
                <div
                    class="intro-text-anim align-items-center justify-content-end"
                >
                    <h1
                        class="as-font"
                        style="animation-delay: .1s !important; font-size: 9vw;"
                    >
                        BQM DevOps
                    </h1>
                </div>
                <div
                    class="intro-text-anim align-items-center justify-content-end"
                    style="height: fit-content;"
                >
                    <h2
                        class="as-font-alt mb-4"
                        style="font-family: monospace; animation-delay: .2s !important"
                    >
                        DevOps Implementation for Uruguay's largest e-Gaming
                        platform
                    </h2>
                </div>
                <div
                    class="cs-footer col-12 d-flex flex-row justify-content-end mt-2"
                >
                    <button class="btn btn-primary btn_case_study_interaction"
                        >Explore This Case
                        <!-- <div class="hidden-icon">
                            <i-feather name="arrow-down" class="icon-sm"
                            ></i-feather>
                        </div> -->
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    h1 {
        margin: 0;
    }
    .case-studies-content {
        position: absolute;
    }

    .case-studies-content h1 {
        font-size: 10vw;
    }

    .case-studies-clip {
        clip-path: circle(40vh at 20% 50%);
        background-size: cover !important;
        filter: saturate(0.7) brightness(0.7);
        transition: 0.7s;
        box-shadow: 0px 40px 30px -10px black inset,
            0px -40px 30px -10px black inset;
        /* filter: sepia(1) hue-rotate(215deg); */
        filter: sepia(1) hue-rotate(-104deg) opacity(0);
        /* mix-blend-mode: color-dodge; */
    }
    .case-studies-clip-hover {
        filter: none;
        /* mix-blend-mode: unset; */
    }
</style>

<script>
    Array.from(
        document.getElementsByClassName("set_study_case_interact")
    ).forEach((studyCase) => {
        studyCase.addEventListener("mousemove", (event: MouseEvent) => {
            calcClipPath(
                event,
                studyCase.querySelector(".case-studies-clip") as HTMLElement
            );
        });
        studyCase
            .querySelector(".btn_case_study_interaction")
            ?.addEventListener("mousemove", (event) => {
                hideClipPath(
                    studyCase.querySelector(
                        ".case-studies-clip"
                    ) as HTMLElement,
                    true
                );
            });
        studyCase
            .querySelector(".btn_case_study_interaction")
            ?.addEventListener("mouseenter", (event) => {
                (
                    studyCase.querySelector(".case-studies-clip") as HTMLElement
                ).classList.add("case-studies-clip-hover");
            });
        studyCase
            .querySelector(".btn_case_study_interaction")
            ?.addEventListener("mouseleave", (event) => {
                (
                    studyCase.querySelector(".case-studies-clip") as HTMLElement
                ).classList.remove("case-studies-clip-hover");
            });
    });

    // CASE STUDIES
    let calcClipPath = (event: MouseEvent, clipPathEl: HTMLElement) => {
        if (clipPathEl.classList.contains("cs-left")) {
            clipPathEl.style.clipPath = `circle(calc(48vh) at 20% calc(50% + ${
                (-window.innerHeight / 2 + event.clientY) / 10
            }px))`;
            clipPathEl.style.clipPath = `circle(calc(45vh + ${
                event.clientX / 50
            }px) at 10% calc(50% + ${
                (-window.innerHeight / 2 + event.clientY) / 10
            }px))`;
        } else {
            clipPathEl.style.clipPath = `circle(calc(48vh) at 80% calc(50% + ${
                (-window.innerHeight / 2 + event.clientY) / 10
            }px))`;
            clipPathEl.style.clipPath = `circle(calc(45vh + ${
                ((-window.innerWidth / 1 + event.clientX) / 50) * -1
            }px) at 90% calc(50% + ${
                (-window.innerHeight / 2 + event.clientY) / 10
            }px))`;
        }
    };
    let hideClipPath = (clipPathEl: HTMLElement, hover?: boolean) => {
        setTimeout(() => {
            clipPathEl.style.clipPath = `circle(200vh at 50% 50%)`;
        });
    };
</script>
